<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Your Order Confirmed
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <!-- PRODUCT -->
      <% for cart in @carts.each do %>
      <div class="row">
        <div classs="col-12 col-sm-12 col-md-2 text-center">
          <%= image_tag(cart.product.image1,:class=>'img-responsive',height: '80', width: '120') if cart.product.image1.attached? %>
        </div>
        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5">
          <a href="/client/product?id=<%= cart.product.id %>" style="color: black;text-decoration: none;">
            <h4 class="product-name"><strong><%= cart.product.name %></strong></h4>
            <h4>
          </a>
          <small><%= cart.product.description %></small>
          </h4>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-5 text-md-right row">
          <div class="col-3 col-sm-3 col-md-3 text-md-right" style="padding-top: 5px">
            <h6><strong class="price"><%=cart.product.price%></strong><span class="text-muted">x</span></h6>
          </div>
          <input id="productId" name="productId" class="productId" type="hidden" value="<%= cart.product.id %>">
          <div class="quantity">
            <label><%= cart.quentity %></label>
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <div>
              <% total = (cart.quentity * cart.product.price) %>
              <label class="totalPrice"><%= total %></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
    <!-- END PRODUCT -->
  </div>
  <div class="card-footer">
    <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
    </div>
    <div class="text-center" style="margin: 10px">
      <div class="" style="margin: 5px">
        Total Order Price: <b id="mailTotal"></b>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="text-center">
      <a href="/client/orderHistory" class="btn btn-success">Your Orders</a>
    </div>
  </div>
</div>
</div>
<script>
  $(document).load(function () {
    // alert("i am called1");
    getTotal();

    function getTotal() {
      var total = 0;
      $('.totalPrice').each(function () {
        total += parseFloat(this.innerHTML);
      });
      $('#mailTotal').text(total);
    }
  });
  var url = "/client/orderConfirm";
  $.ajax({
    type: "get",
    url: url,
    data: {},
    datatype: 'script',
    async: false,
    success: function (data) {
      alert("done");
    }
  });
</script>
