<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">

<div class="super_container">
  <%p=@product%>
  <div class="single_product">
    <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
      <div class="row">
        <div class="col-lg-1 order-lg-1 order-2">

        </div>
        <div class="col-lg-4 order-lg-2 order-1">
          <div class="image_selected"> <%= image_tag(p.image1,style:"width:411px;height: 463px;padding: 25px;")%>

          </div>
        </div>
        <div class="col-lg-6 order-3">
          <div class="product_description">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/client/category?id=<%=p.category.id%>"><%=p.category.name%></a></li>
                <li class="breadcrumb-item"><a href="/client/subCategory?id=<%=p.sub_category_id%>"><%=p.sub_category.name%></a></li>
                <li class="breadcrumb-item active"><%=p.name%></li>
              </ol>
            </nav>
            <div class="product_name"><%=p.name%></div>

            <div> <span class="product_price">₹ <%=p.price%></span> <strike class="product_discount"> </strike> </div>

            <hr class="singleline">
            <div> <span class="product_info">Description : <%=p.description%><span><br> <span class="product_info">Brand :<a href="/client/brand?id=<%=p.brand.id%>"> <%=p.brand.name%><span></a><br>  </div>
              <div>

              </div>
              <hr class="singleline">
              <div class="order_info d-flex flex-row">
                <form action="#">
                </div>
                <div class="row">
                  <div class="col-xs-6" style="margin-left: 13px;">
                    <div class="product_quantity">  
                      <div class="quantity_buttons">
                        <div id="quantity_inc_button" class="quantity_inc quantity_control"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">   
                 <%if user_signed_in? %>  
                 <% @cart = Cart.where(user_id: current_user.id, product_id: p.id) %>
                 <% if @cart.present? %>
                 <div class="center"><a href="/client/cart" class="btn btn-primary" style="margin-left: 50px;">Go To Cart</a></div>
                 <%else%>
                 <div class="center"><a href="/client/AddToCart?productId=<%=p.id%>" class="btn btn-primary" style="margin-left: 50px;">Add To Cart</a></div>
                 <%end%>
                 <%else%>
                 <div class="center"><a href="/users/sign_in" class="btn btn-primary" style="margin-left: 50px;">Add To Cart</a></div>
                 <%end%>
                 <div class="container">
                   <br/>
                   <h4>All Comments</h4>
                   <%if user_signed_in?%>
                   <%c = current_user.comment%> 
                   <%if c.present?%>
                   <%c = current_user.comment%>
                   <div class="row collapse" id="demo1">
                    <h6 class="form-group col-sm-4">Update Comment :</h6>
                    <%=text_area(:description, :text1 ) %>

                    <input id="cartId" name="cartId" class="cartId" type="hidden" value="<%=c.id%>" >
                    <%= link_to('Update Comments',"",:class=>" btn btn-success btn-sm text-center sanket",:style=>"margin-left: 200px;")%>
                  </div>


                  <%else%>
                  <div class="row sahil">
                    <h6 class="form-group col-sm-4">Add Your Comment :</h6>
                    <%=text_area(:description, :text ) %>
                    <input id="id" name="id" class="id" type="hidden" value="<%=@product.id%>" >
                    <input id="customerId" name="customerId" class="customerId" type="hidden" value="<%=current_user.id%>" >
                    <%if user_signed_in?%>
                    <%= link_to('Create Comments',"",:class=>"comment btn btn-success btn-sm pull-right")%>

                    <%else%>

                    login

                    <%end%>
                    <%end%>
                    <%end%>
                    <%@comment = Comment.where(:product_id=>@product.id)%>
                    <% @comment.each do |c|%>
                    <%if user_signed_in?%>
                    <%if c.user_id==current_user.id%>
                    <div class="co">
                      <input id="commentId" name="commentId" class="commentId" type="hidden" value="<%=c.id%>" >
                      <div class="float-right delete"><a href="" class="btn btn-danger">Delete</a></div>
                      <div class="float-right edit"><a href="" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">Edit</a></div>
                      <%end%>
                      <%end%>
                      <div class="container rounded border-primary border la">
                        <div class="row"><i class="fa fa-user" aria-hidden="true" style="padding-left: 25px;padding-right: 30px;"></i><%=c.user.email%>
                          <input id="commentId" name="commentId" class="commentId" type="hidden" value="<%=c.id%>" >

                          <input id="userId" name="userId" class="userId" type="hidden" value="<%=c.user.id%>" >
                        </div>
                        <div class="row description"><i class="fa fa-comments" aria-hidden="true" style="padding-left: 25px;padding-right: 30px;"></i><%=c.description%></div>
                        <%if user_signed_in?%>
                        <%cu=current_user.id%>
                        <%cm=c.id%>
                        <input id="id" name="id" class="id" type="hidden" value="<%=@product.id%>" >
                        <input id="currentUserId" name="currentUserId" class="currentUserId" type="hidden" value="<%=current_user.id%>" >
                        <% a=Like.where(comment_id:cm,likeValue:true).count %>
                        <% if Like.exists?(user_id:cu,comment_id:cm,likeValue: true) %>
                        <button class="likes2" style="font-size:15px;padding: 0;border: none;
                        background: none;"> <i class="fa fa-heart" style="font-size:24px;color:red;"></i><%=a%></button>
                        <%elsif Like.exists?(user_id:cu,comment_id:cm,likeValue: false)%>
                        <button class="likes1" style="font-size:15px;padding: 0;border: none;
                        background: none;"> <i class="fa fa-heart-o not_liked" style="font-size:24px;color:red;"></i><%=a%></button>          
                        <%else%> 
                        <button class="likes1" style="font-size:15px;padding: 0;border: none;
                        background: none;"> <i class="fa fa-heart-o not_liked" style="font-size:24px;color:red;"></i><%=a%></button>    
                        <%end%>           
                        <%end%> 
                      </div>
                      
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%if user_signed_in?%>
      <%@products=current_user.mappingtable.product.category.products%>
      <%if @products.present?%>

      <div class="container">
        <h4>You may Interested in</h4>
        <div class="row">
         <%for pro in @products.take(4) do%>
         <%if @product.id!=pro.id%>
         <div class="col-md-3">
          <figure class="card card-product">
            <div class="img-wrap"><%= image_tag(pro.image1)%></div>
            <figcaption class="info-wrap">
              <h4 class="title"><%=pro.name%></h4>
              <h5 class="title"><%=pro.brand.name%></h5>     
              <p class="desc"><%=pro.description%></p>

              <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
              <a href="" class="btn btn-sm btn-primary float-right">Order Now</a> 
              <div class="price-wrap h5">
                <span class="price-new"><%=pro.price%></span> 
              </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
          </figure>
        </div>
        <%end%>
        <%end%>
      </div> <!-- row.// -->
    </div>
    <%end%>
    <%end%>
  </div> 




  <script>
   $(document).ready(function () {

     $('.likes1').on('click', function() {
      var button=$(this); 
      var currentUserId = $(this).closest(".la").find(".currentUserId").val();
      var commentId= $(this).closest(".la").find(".commentId").val();
      alert(commentId);
      alert(currentUserId);
      var url="/client/updateLike";
      $.ajax({
        headers: {
          'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
        },
        type : "post",
        url : url,
        data : {"commentId":commentId,"userId":currentUserId},
        datatype: 'script',
        async: false,
        success : function(data){
          if (data['data'] == 'true') {
            button.find(".not_liked").removeClass('fa fa-heart-o');
            button.find(".not_liked").addClass('fa fa-heart');
          }
        }  
      });
    });

     $('.likes2').on('click', function() {
      var button=$(this); 
      var currentUserId = $(this).closest(".la").find(".currentUserId").val();
      var commentId= $(this).closest(".la").find(".commentId").val();
      var url="/client/updateLike";
      $.ajax({ headers: {
        'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
      },
      type : "post",
      url : url,
      data : {"commentId":commentId,"userId":currentUserId},
      datatype: 'script',
      async: false,
      success : function(data){
        console.log(data);
        button.find(".not_liked").removeClass('fa fa-heart-o');
        button.find(".not_liked").addClass('fa fa-heart');
      }  
    });
    });


     $('.comment').on('click', function() {

      var customerId = $("#customerId").val();
      var productId = $("#id").val();
    // alert("I am Called");
    var value = $('#description_text').val();
    


    var url="/client/addComment";
    $.ajax({
      type : "get",
      url : url,
      data : {"productId":productId,"customerId":customerId,"description":value},
      datatype: 'script',
      async: false,
      success : function(data){
       // alert("Hii");
       $(".sahil").hide();
     }  
   });
  });



     $('.delete').on('click', function() {

    // alert("I am called with delete");
    var commentId = $(this).closest(".co").find(".commentId").val();
    // alert(commentId);
    var url="/client/deleteComment";
    $.ajax({
      type : "get",
      url : url,
      data : {"commentId":commentId},
      datatype: 'script',
      async: false,
      success : function(data){
        // alert(done);
        $(this).closest(".co").toggle();
       // $("#demo1").hide();
       // $(".sahil").hide();
     }  
   });
  });


     $('.sanket').on('click', function() {
      // alert("I am calledsss");
      var commentId = $(this).closest("#demo1").find(".cartId").val();


    // var customerId = $("#customerId").val();
    // var productId = $("#productId").val();
    // // alert("I am Called");
    var value = $('#description_text1').val();
    
    // alert(value);
    // alert(commentId);

    var url="/client/updateComment";
    $.ajax({
      type : "get",
      url : url,
      data : {"commentId":commentId,"description":value},
      datatype: 'script',
      async: false,
      success : function(data){
       $("#demo1").hide();
       $(".sahil").hide();

       $(this).closest(".co").find(".description").text(value);

     }  
   });
  });

     $('.edit').on('click', function() {
    // alert("I am called");
    var comment = $(this).closest(".co").find(".description").text();
     // alert(comment);
     $("#description_text1").text(comment);


   });





   });





 </script>