<%if current_user%>
<%if current_user.has_role? :admin%>

<p id="notice"><%= notice %></p>


  <strong>Category Name:</strong>
<p><%= @subCategory.category.name %></p>

  <strong>Sub-Category Name:</strong>
<p><%= @subCategory.name %></p>

<p>
  <strong>Status:</strong>
  <%= @subCategory.status%>
</p>

<%= link_to 'Edit', edit_category_path(@subCategory) %> ||
<%= link_to 'Back', sub_categories_path %>
<%end%>
<%else%>  
<%=render file: 'public/404'%>
<%end%>