<% if current_user %>
  <% if current_user.has_role? :admin %>
    <%= render 'layouts/header' %>
    <h1> All Category</h1>
    <table class="table table-dark" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">Category Name</th>
          <th scope="col">Status</th>
          <th colspan="2" scope="col"> Manage Category</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <%if category.status == true; status='Active'; elsif(category.status == false);status='InActive'; else status=''; end%>
          <td><%= status %></td>
          <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-outline-success' %></td>
          <td>
            <%= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Add Category', new_category_path , class: 'btn btn btn-success' %>
  <% end %>
<% else %>
  <%= render file: 'public/404' %>
<% end %>
